<?xml version="1.0" encoding="UTF-8"?>

<suite name="GRID SAMPLE TEST" parallel="tests" thread-count="4">
    <test name="Chrome Tests">
        <parameter name="browserType" value="chrome"/>
        <classes>
            <class name="com.test.accounts.AccountsDemoTest"/>
            <class name="com.test.accounts.AccountsDemoTest1"/>
            <class name="com.test.accounts.AccountsDemoTest2"/>
            <class name="com.test.accounts.AccountsDemoTest3"/>
        </classes>
    </test>

    <test name = "Firefox Tests">
        <parameter name="browserType" value="firefox">
            <classes>
              <class name="com.test.accounts.AccountsDemoTest"/>
              <class name="com.test.accounts.AccountsDemoTest1"/>
              <class name="com.test.accounts.AccountsDemoTest2"/>
              <class name="com.test.accounts.AccountsDemoTest3"/>
            </classes>
        </parameter>
    </test>
</suite>
